body
{
background-color: rgb(255,255,255);
}
.text                      /* texto cuerpo principal (si no especificado en "div.main div.bodytext" abajo) */
{ font-family: 'Andale Mono', 'CMUTypewriterTextRegular','CourierCodeRoman','Special Elite', 'LatinModernMono10Regular', 'Courier New', monospace;
color: rgb(20, 30, 80);
font-weight: 400;
font-size: 9pt;
}
.a:link                      /* links standard, en cuerpo principal, etc. */
{ font-family:  'Andale Mono', 'CMUTypewriterTextRegular','CourierCodeRoman','Special Elite', 'LatinModernMono10Regular', 'Courier New', monospace;
color: rgb(255, 0, 0);
font-weight: 400;
text-decoration: none;
}
.a:visited                   /* links visitados standard, en cuerpo principal, etc. */
{ font-family:  'Andale Mono', 'CMUTypewriterTextRegular','CourierCodeRoman','Special Elite', 'LatinModernMono10Regular', 'Courier New', monospace;
color: rgb(255, 0, 0);
font-weight: 400;
text-decoration: none;
}
.a:hover                     /* "hover" para links standard, en cuerpo principal, etc. */ 
{ font-family: 'Andale Mono', 'CMUTypewriterTextRegular','CourierCodeRoman','Special Elite', 'LatinModernMono10Regular', 'Courier New', monospace;
color: rgb(255, 0, 0);
font-weight: 400;
text-decoration: none;
}
.texth1                       /* titulo portal de entrada web (si no link) */
{ color: rgb(20, 30, 80);
font-weight: 400;
font-family: 'Andale Mono', 'Josefin Sans', 'Work Sans', 'NovecentowideLight', 'Avenir', 'Lucida Grande', 'Gill Sans', 'Andale Mono', sans-serif;
font-size: 31pt;
text-transform: uppercase;
letter-spacing: 16px; 
text-decoration: none;
}
.texth2                       /* encabezados texto cuerpo principal (si no link) */
{ color: rgb(255, 0, 0);
font-family: 'Andale Mono', 'CMUTypewriterTextRegular','CourierCodeRoman','Special Elite', 'LatinModernMono10Regular', 'Courier New', monospace;
font-size: 11pt;
font-weight: 400;
text-transform: uppercase;
}
.linkh2                       /* encabezados texto cuerpo principal (si link) */
{ font-family: 'Andale Mono', 'CMUTypewriterTextRegular','CourierCodeRoman','Special Elite', 'LatinModernMono10Regular', 'Courier New', monospace;
text-decoration: none;
color: rgb(80, 80, 80);
}
ul {                     /* estilo listas no ordenadas*/
/* list-style-type: hiragana; */
/* list-style-type: hiragana-iroha; */
/* list-style-type: katakana; */
/* list-style-type: georgian; */
/* list-style-type: armenian; */
list-style-type: hiragana-iroha;
margin-left: 0px;
padding-left: 2.6em;
text-indent: 0em;
font-size: 9pt;	
}
ol {                     /* estilo listas ordenadas*/
list-style-type: none;
margin-left: 0px;
padding-left: 2.6em;
text-indent: -1em;
font-size: 9pt;	
}
.linklist                 /* links en listas (elementos lista) */
{ font-family: 'Andale Mono', 'CMUTypewriterTextRegular','CourierCodeRoman','Special Elite', 'LatinModernMono10Regular', 'Courier New', monospace;
text-decoration: none;
color: rgb(20, 30, 80);
border-bottom: 1px dashed rgb(255,0,0);    /* border: 1px dashed rgb(0,200,0) */
padding-left: 4px;
padding-right: 4px;
}
.slink                    /* links creditos, actualizacion, etc. */
{ 
font-family: 'Andale Mono', 'CMUTypewriterTextRegular','CourierCodeRoman','Special Elite', 'LatinModernMono10Regular', 'Courier New', monospace;
color: rgb(20, 30, 80);
font-weight: 400;
text-decoration: none;
}
.inpage                   /* links externos pagina "contacto", "otros enlaces", etc. */
{ 
color: rgb(20, 30, 80);
font-family:'Andale Mono', 'CMUTypewriterTextRegular','CourierCodeRoman','Special Elite', 'LatinModernMono10Regular', 'Courier New', monospace;
font-weight: 400;
text-decoration:none;
border-bottom: 1px dashed rgb(255,0,0);      /* 1px dashed rgb(0,200,0) */
}  
.linkmail                 /* links correo pagina "contacto" */
{ font-family: 'Andale Mono', 'CMUTypewriterTextRegular','CourierCodeRoman','Special Elite', 'LatinModernMono10Regular', 'Courier New', monospace;
color: rgb(255,0,0);
}

div.is{                /* contenedor titulo principal web */
/* position: fixed; */
position: absolute;
left:143px;                             /* 120px */
top:0px;                               /* 40px */
height:103px;
width:48%;                             /* 25px */
padding-top:13px;                           /* 13px */
z-index: 100;
background:rgb(255,255,255);
font-family: 'Andale Mono', 'Josefin Sans', 'Work Sans', 'NovecentowideLight', 'Avenir',  'Gill Sans', sans-serif;
text-decoration: none;        /* none */
color: rgb(20, 30, 80);       /* rgb(20, 30, 80) */
font-size: 18pt;              /* 18pt */
text-transform: uppercase;    /* uppercase */
letter-spacing: 33px;         /* 18px */
font-weight: 100;
border-bottom: 2px dashed rgb(255,0,0);      /* 1px dashed rgb(0,200,0) */
}
div.inis{                /* contenedor titulo portal de entrada web */
position: fixed;
left: 50%;                             /* 120px */
top: 50%;                               /* 40px */
width:400px;                             /* 50px */
height: 400px;
margin-top: -100px;
margin-left: -200px;
}

div.main{                           /* contenedor recuadro principal */
position: absolute;
left:120px;                         /* 120px */
top:90px;                           /* 40px */
bottom:60px;
padding:12px;
border:0px dotted rgb(255,0,0);
height:110%;                       /* 530px */
width:890px;                        /* 890px */
}
div.main div.bodytext{             /* contenedor texto cuerpo principal (y texto cuerpo principal) */
position: absolute;
left:0px;                         /* 180px */
top:90px;                          /* 80px */
width:600px;                       /* 510px */
padding-left:31px;
padding-right:31px;
font-family:'Andale Mono', 'CMUTypewriterTextRegular','CourierCodeRoman','Special Elite', 'LatinModernMono10Regular', 'Courier New', monospace;
color: rgb(20, 30, 80);
font-weight: 400;
font-size: 9pt;
}
div.credits{             /* contenedor creditos-actualizacion */
position:relative;
left:-20px;              /* 120px */
width:910px;             /* 910px */
bottom:-30px;
padding:2px;
font-family:'Andale Mono', 'CMUTypewriterTextRegular','CourierCodeRoman','Special Elite', 'LatinModernMono10Regular', 'Courier New', monospace;
color: rgb(20, 30, 80);
font-style: normal;
font-size: 7pt;
font-weight: 400;
z-index: 1;
}

div.back{                /* contenedor footer -- links volver, etc. */
position: relative;
left:130px;                             /* 120px */
bottom:0px;                               /* 40px */
height:20px;
width:75%;                             /* 25px */
padding:13px;                           /* 13px */
z-index: 9;
background:rgb(255,255,255);
font-family: 'Andale Mono', 'CMUTypewriterTextRegular','CourierCodeRoman','Special Elite', 'LatinModernMono10Regular', 'Courier New', monospace;
text-decoration: none;        /* none */
color: rgb(20, 30, 80);       /* rgb(20, 30, 80) */
font-size: 11pt;              /* 18pt */
text-transform: lowercase;    /* uppercase */
text-align: right;
}


