---
---

@import "{{ site.theme }}";
body                      /* texto cuerpo principal (si no especificado en "div.main div.bodytext" abajo) */
{ font-family: 'Courier', 'PT Mono', 'menlo', monospace, 'LatinModernMono10Regular', 'Courier New', 'Andale Mono';
color: rgb(20, 30, 80);
font-weight: 500;
font-size: 10.5pt;
}
a:link                      /* links standard, en cuerpo principal, etc. */
{ font-family: 'Courier', 'PT Mono', 'menlo', 'Andale Mono', 'LatinModernMono10Regular', 'Courier', monospace;
color: rgb(255, 0, 0);
font-weight: 400;
text-decoration: none;
}
a:visited                   /* links visitados standard, en cuerpo principal, etc. */
{ font-family: 'Courier', 'PT Mono', 'menlo', 'Andale Mono', 'LatinModernMono10Regular', 'Courier New', monospace;
color: rgb(255, 0, 0);
font-weight: 400;
text-decoration: none;
}
a:hover                     /* "hover" para links standard, en cuerpo principal, etc. */ 
{ font-family: 'Courier', 'PT Mono', 'menlo', 'Andale Mono', 'LatinModernMono10Regular', 'Courier New', monospace;
color: rgb(255, 0, 0);
font-weight: 400;
text-decoration: none;
}
h1, h2, h3, h4, h5, h6                     /* titulo principal web (si no link) */
{ color: rgb(255, 0, 0);
font-weight: 400;
font-family: 'Courier', 'PT Mono', 'menlo', 'Andale Mono', 'LatinModernMono10Regular', 'Courier New', monospace;
/*text-transform: uppercase;*/
text-decoration: none;
}

h1                    /* titulo principal web (si no link) */
{ font-size: 21pt;
}

h2                    /* titulo principal web (si no link) */
{ font-size: 18pt;
}

h3                    /* titulo principal web (si no link) */
{ font-size: 16pt;
}

h4                    /* titulo principal web (si no link) */
{ font-size: 13pt;
}

h5                    /* titulo principal web (si no link) */
{ font-size: 11pt;
}

h6                    /* titulo principal web (si no link) */
{ font-size: 9pt;
}



